@media only screen and (min-width: 32.5em) {
    body {
        border-radius: 10px;
    }
    
    header h1 {
        font-size: 2.5em;
        text-align: left;
    }

    main h2 {
        font-size: 1.5em;
    }

    header {
        border-radius: 7.5px 7.5px 0 0;
    }

    footer {
        border-radius: 0 0 7.5px 7.5px;
    }
    
    header img {
        float: right;
        overflow: hidden;
        box-shadow: 5px 5px 5px #999;
        margin: 10px;
        border: none;
    }


}