/*------COLORS-------*/
/*-------FONTS-----------*/
/*--------NAVIGATION---------------*/
nav {
  background-color: #21A4B9;
  font-family: "Roboto", Arial, sans-serif;
}
nav button {
  background-color: transparent;
  border: none;
  margin: .2em 2%;
  font-size: 1.5em;
  color: #fff;
  width: 96%;
  text-align: left;
}
nav button:hover {
  cursor: pointer;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul.hide {
  display: none;
}
nav ul li a {
  text-decoration: none;
  display: block;
  padding: .8em 2%;
  color: #fff;
}
nav ul li a:hover {
  background-color: #AFFDF8;
  color: #21A4B9;
}

/*------------MEDIUM CSS--------------*/
@media only screen and (min-width: 560px) {
  /*-----------NAVIGATION------------*/
  nav button {
    display: none;
  }
  nav ul.hide {
    display: flex;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    flex: 1 1 100%;
    text-align: center;
  }
  nav ul a {
    border: none;
  }
}
/*-------------LARGE CSS--------------*/
