/*------COLORS-------*/
/*-------FONTS-----------*/
/*-------HEADER-------------------*/
header {
  background-color: #FEF3C3;
  display: flex;
  align-content: center;
  justify-content: center;
}
header img {
  width: 100%;
  max-width: 100px;
  height: 100px;
  margin: 20px 2%;
}
header div.header-copy {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
header div h1 {
  margin-bottom: 0;
  font-size: 3em;
  font-family: "Seaweed Script", "Architects Daughter", "Roboto", Arial, sans-serif;
  color: #FE7450;
}
header div h4 {
  margin-top: 0;
  font-size: 1.25em;
  font-family: "Architects Daughter", "Roboto", Arial, sans-serif;
  color: #FE7450;
}

/*--------NAVIGATION---------------*/
nav {
  background-color: #21A4B9;
  font-family: "Roboto", Arial, sans-serif;
}
nav button {
  background-color: transparent;
  border: none;
  margin: .2em 2%;
  font-size: 1.5em;
  color: #fff;
  width: 96%;
  text-align: left;
}
nav button:hover {
  cursor: pointer;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul.hide {
  display: none;
}
nav ul li a {
  text-decoration: none;
  display: block;
  padding: .8em 2%;
  color: #fff;
}
nav ul li a.active {
  color: yellow;
}
nav ul li a:hover {
  background-color: #AFFDF8;
  color: #21A4B9;
}

/*-----------FOOOTER-------------*/
footer {
  background-color: #21A4B9;
  text-align: center;
  margin: 2% auto 0 auto;
  padding: 1em;
  font-family: "Roboto", Arial, sans-serif;
  color: #fff;
}
footer div.footer-social-icons img {
  width: 100%;
  max-width: 25px;
  padding-right: 1em;
}
footer div.footer-copy p {
  margin-top: 0;
  margin-bottom: 5px;
}
footer div.footer-copy p:first-child {
  padding-top: 15px;
}
footer div.footer-copy p:nth-child(2) {
  font-size: .8em;
}
footer div.footer-copy p:last-child {
  font-size: .8em;
}

/*-------------MAIN-------------------*/
main {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Roboto", Arial, sans-serif;
}

/*------------HOMEPAGE----------------*/
div.homepage-intro {
  position: relative;
}
div.homepage-intro picture {
  display: block;
  width: 100%;
}
div.homepage-intro picture img {
  width: 100%;
}
div.homepage-intro section.homepage-intro-cta {
  position: absolute;
  width: 80%;
  max-width: 400px;
  background-color: #FEF3C3;
  padding: .75em;
  top: 5%;
  left: 5%;
  opacity: .85;
  margin: 0 auto;
}
div.homepage-intro section.homepage-intro-cta h3 {
  font-family: "Architects Daughter", "Roboto", Arial, sans-serif;
  color: #FE7450;
  margin: .25em;
}
div.homepage-intro section.homepage-intro-cta p {
  color: #425561;
  font-size: 1em;
  margin: .25em;
}
div.homepage-intro section.homepage-intro-cta a {
  text-decoration: none;
}
div.homepage-intro section.homepage-intro-cta a button {
  display: block;
  margin: 0 auto;
  background-color: #FE7450;
  border: none;
  font-family: "Architects Daughter", "Roboto", Arial, sans-serif;
  color: #fff;
  font-size: 1.5em;
  padding: 2% 10%;
}
div.homepage-intro section.homepage-intro-cta button:hover {
  cursor: pointer;
  background-color: #A22101;
}

section.homepage-cozumel-info {
  background-color: #FEF3C3;
  border: 2px double #FE7450;
  padding: 1em;
  margin-top: 1em;
}
section.homepage-cozumel-info h2 {
  font-family: "Architects Daughter", "Roboto", Arial, sans-serif;
  color: #FE7450;
  text-align: center;
  padding-top: 1em;
  margin: .25em;
}
section.homepage-cozumel-info div.homepage-cozumel-copy {
  padding: 1em;
}
section.homepage-cozumel-info div.homepage-cozumel-copy p {
  margin-top: 0;
  margin-bottom: 0;
}
section.homepage-cozumel-info div.homepage-cozumel-img picture {
  display: block;
  margin: 1em;
  padding: .25em;
}
section.homepage-cozumel-info div.homepage-cozumel-img picture img {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

/*------------MEDIUM CSS--------------*/
@media only screen and (min-width: 560px) {
  /*-----------NAVIGATION------------*/
  nav button {
    display: none;
  }
  nav ul.hide {
    display: flex;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    flex: 1 1 100%;
    text-align: center;
  }
  nav ul a {
    border: none;
  }

  /*-----------FOOTER-------------*/
  footer {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  footer div {
    flex: 1 1 100%;
  }
  footer div.footer-social-icons {
    text-align: left;
    padding: 15px 0 0 5%;
  }
  footer div.footer-copy {
    text-align: right;
  }
  footer div.footer-copy p {
    margin: 0 5% 0 0;
  }
  footer div.footer-copy p:first-child {
    padding-top: 0;
  }

  /*------------HOMEPAGE-------------------*/
  div.homepage-intro section.homepage-intro-cta {
    top: 10%;
    opacity: .9;
  }
  div.homepage-intro section.homepage-intro-cta h3 {
    margin: .75 em .25em;
  }
  div.homepage-intro section.homepage-intro-cta p {
    margin: .9em;
    font-size: 1.1em;
  }

  section.homepage-cozumel-info div.homepage-cozumel-copy {
    column-count: 2;
  }
  section.homepage-cozumel-info div.homepage-cozumel-img {
    display: flex;
  }
  section.homepage-cozumel-info div.homepage-cozumel-img picture {
    flex: 1 1 100%;
  }
  section.homepage-cozumel-info div.homepage-cozumel-img picture img {
    box-shadow: 0 0 20px #425561;
  }
}
/*-------------LARGE CSS--------------*/
