body {
    font-family: "Quicksand", Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Righteous", Verdana, sans-serif;
}

header {
    font-family: "Righteous", Verdana, sans-serif;
    background-color: #CCE6F4;
    color: #175676;
    display: flex;
    align-content: center;
    justify-content: center;
}

header img {
    width: 100%;
    max-width: 75px;
    height: 75px;
    margin: 20px 0;
}
.headings {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

header div h1 {
    margin-bottom: 0;
    font-size: 1.75em;
}

header div h4 {
    margin-top: 0;
    font-size: .9em;
}


    nav {
      background-color: #175676;
      font-family: "Righteous", Verdana, sans-serif;
      
      border-bottom: 3px solid #C83E4D;
  }
  
  nav button {
      background-color: transparent;
      border: none;
      margin: .2em 2%;
      font-size: 1.5em;
      color: #fff;
      width: 96%;
      text-align: left;
  }

  nav button:hover {
      cursor: pointer;
  }

  nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }

  nav ul.hide {
      display: none;
  }

  nav ul li a {
      text-decoration: none;
      display: block;
      padding: .8em 2%;
      border-top: 1px solid #CCE6F4;
      color: #fff;
  }

  nav ul li a:hover {
      background-color: #4BA3C3;
  }

  nav ul li a.active {
      color: yellow;
  }

  main {
      max-width: 1000px;
      margin: 0 auto;
  }

  main h2 {
      color: #175676;
      border-bottom: 2px solid #C83E4D;
  }

  main section {
    display: grid;
    grid-gap: .75em;
    justify-items: center;
    justify-content: center;
  }

  main section picture {
      margin: 1em;
      border: 2px solid #175676;
      background-color: #175676;
      color: white;
      max-width: 300px;
  }

  main section picture img[data-src] {
      filter: blur(0.2em);
  }

  main section picture img {
      filter: blur(0em);
      max-width: 100%;
  }

  main section picture p {
      text-align: left;
      margin: 0;
      padding: 10px 20px 10px 20px;
  }


  footer {
      background-color: #175676;
      color: #fff;
      text-align: center;
      max-width: 900px;
      margin: 0 auto;
  }

 
 footer p {
    margin-top: 0; 
    margin-bottom: 5px;
 }

 footer p:first-child {
     padding-top: 15px;
 }

 footer p:last-child {
     padding-bottom: 15px;
     font-size: .8em;
 }
  