body {
    max-width: 1080px;
    margin: 0 auto;
    font-family: 'Quicksand', Arial, sans-serif;
}

header {
    background-color: #175676;
}
header h1 {
    text-align: center;
    color: white;
    margin: 0;
    padding: 20px 0;
}

nav {
    background-color: #175676;
    text-align: center;
    border-bottom: 5px solid #C83E4D;
    border-top: 5px solid #C83E4D;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: #fff;
    font-family: 'Righteous', Arial, sans-serif;
    text-align: center;
    padding: 0.75em;
    text-decoration: none;
    font-size: 0.95em;
}

nav ul li a:hover {
    background-color: lightblue;
    color: navy;
}

.active {
    color: yellow;
}

main {
    margin: 0 20px 0 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Righteous', Arial, sans-serif;
}

main h1 {
    border-bottom: 2px solid #CCE6F4;
}

table, tr, td, th {
    border: 1px solid black;
    padding: 5px;
}

.color_blue {
    background-color: #175676;
    color: white;
}

.color_red {
    background-color: #C83E4D;
    color: white;
}

.light_blue {
    background-color: #CCE6F4;
}

.medium_blue {
    background-color: #4BA3C3;
}

footer {
    background-color: #175676;
    color: #fff;
    text-align: left;
    border-top: 5px solid #C83E4D;
    margin-top: 10px;
}

footer p:first-child {
    margin-bottom: 5px;
    padding-top: 15px;
    padding-left: 15px;
}
footer p:last-child {
    margin-top: 0;
    font-size: 0.75em;
    padding-bottom: 15px;
    padding-left: 15px;
}

footer a {
    color: yellow;
}

footer a:hover {
    background-color: yellow;
    color: navy;
}