body {
    max-width: 75%;
    margin: 0 auto;
    font-family: "Ubuntu", Helvetica, sans-serif;
}

header {
    margin-bottom: 10px;
    }

header h1 {
    font-family: "Fugaz One", sans-serif;  
    padding-left: 10px;
    margin: 5px 0;
    text-align: left;  
    color: #ff6737;
}

header h3 {
    font-family: "Fugaz One", sans-serif;
    margin: 5px 0;
    color: #474A52;
    padding-left: 10px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin: 0 auto;
}

section {
    background-color: rgb(240, 240, 240);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 20px #474A52;
    padding-bottom: 40px;
}

main h3 {
    background-color: #474A52;
    font-family: "Ubuntu", sans-serif;
    color: white;
    padding: 10px;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

img {
    display: block;
    margin: 16px auto;
    box-shadow: 5px 5px 10px #474A52;
}
p {
    padding: 10px;
    margin: 0;
}

main p:last-child {
    background-color: #474A52;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5em;
}

a {
    padding: 10px;
}

a:hover {
    color: rgb(214, 67, 9);
}

footer {
    margin: 20px;
}