body {
    max-width: 75%;
    margin: 0 auto;
    font-family: "Ubuntu", Helvetica, sans-serif;
}

header {
    /*background-color: #0033A0;*/
    background-color: #FF00F0;
    color: #F0FF00;
    border: 7.5px double #00F0FF;
    margin-bottom: 10px;
    }

h1, h3 {
    font-family: "Fugaz One", sans-serif;  
    padding-left: 10px;
    margin: 5px 0;
    text-align: center;  
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 0 auto;
}

section {
    background-color: rgb(240, 240, 240);
    border: 5px double #00F0FF;
}

.section-heading {
    background-color: #F0FF00;
    color: #FF00F0;
    margin: 0;
    padding: 10px;
    font-family: "Fugaz One" sans-serif;
    text-align: center;
}

p {
    padding: 10px;
}

a {
    padding: 10px;
}

a:hover {
    color: rgb(214, 67, 9);
}