body {
    margin: 0 auto;
}

main {
    font-family: Ubuntu, sans-serif;
}

table {
  margin: 20px auto;
  box-shadow: 10px 10px 15px #628ca6;
}

table, th, tr, td {
    border: 2px solid #cfcfcf;
    border-collapse: collapse;
}


tr {
    text-align: center;
}

thead tr th {
    padding: 10px;
}

thead tr:first-child {
    background-color: #7fb9c2;
    font-size: 1.75em;
}

thead tr:last-child {
    background-color: #628ca6;
    color: white;
    font-size: 1.10em;
}

tbody tr td {
    padding: 10px;
}

tbody tr:nth-child(odd) {
    background-color: #e7f0ed; 
}

tbody tr:nth-child(even) {
    background-color: #e7ffed;
}

tbody tr:nth-child(4) td:nth-child(3) {
    background-color: #628ca6;
    color: white;
}

tbody tr:nth-child(5) td:first-child {
    font-style: italic;
}

tfoot tr {
    background-color: #7fb9c2;
}

tfoot tr td {
    padding: 7.5px;
    font-size: .85em;
}
