/*-------------HOMEPAGE------------------*/
//RENTAL TYPES 
section.homepage-rental-info div.homepage-rental-type {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em;
    div.homepage-rental-cards {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
    div.homepage-rental-cards img {
        grid-column: 1 / 2;
    }
    div.homepage-rental-cards div.homepage-rental-copy {
        grid-column: 1 / 2;
    }
    div.homepage-rental-cards:nth-child(even) img {
        grid-column: 1 / 2;
    }
    div.homepage-rental-cards:nth-child(even) div.homepage-rental-copy {
        grid-column: 1 / 2;
        margin-bottom: 2.5em;
    }
    div.homepage-rental-cards:last-child img {
        grid-column: 1 / 2;
    }
    div.homepage-rental-cards:last-child div.homepage-rental-copy {
        grid-column: 1 / 2;
        margin-bottom: 4.5em;
    }
}
//WEATHER SECTION 
section.cozumel-weather {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
    grid-template-areas: 
    "a a a a a a"
    "b b c c c c"
    "b b c c c c"
    "b b c c c c";
    h2 {
        grid-area: a;
    }
    div.currentWeather {
        grid-area: b;
    }
    div.five-day-forecast {
        grid-area: c;
    }
    div.currentWeather div.currentWeather-card {
        margin: 0 auto 10% auto;
    }
}

//RENTAL INFO PRCING TABLE
section.rental-cards {
    grid-template-columns: repeat(3, 1fr);
}