/*-----------NAVIGATION------------*/
nav {
    button {display: none;}
    ul.hide {display: flex;}
    ul {display: flex;}
    ul li {flex: 1 1 100%; text-align: center;}
    ul a {border: none;}

} //end of nav