/*-----------NAVIGATION------------*/
nav {
    button {display: none;}
    ul.hide {display: flex;}
    ul {display: flex;}
    ul li {flex: 1 1 100%; text-align: center;}
    ul a {border: none;}
} //end of nav

/*-----------FOOTER-------------*/
footer {
    display: flex;
    align-content: center;
    justify-content: center;
    div {flex: 1 1 100%;}
    div.footer-social-icons {text-align: left; padding: 15px 0 0 5%;}
    div.footer-copy {text-align: right;}
    div.footer-copy p {margin: 0 5% 0 0;}
    div.footer-copy p:first-child {padding-top: 0;}
} //end of footer

/*------------HOMEPAGE-------------------*/
//HOMEPAGE INTRO
div.homepage-intro {
    section.homepage-intro-cta {
        top: 10%;
    }
    section.homepage-intro-cta h3 {
        margin: .75 em .25em;
    }
    section.homepage-intro-cta p {
        margin: .9em;
        font-size: 1.1em;
    }
}//end of homepage intro

//Homepage Cozumel Info
section.homepage-cozumel-info {
    div.homepage-cozumel-copy {
        column-count: 2;
    }
    div.homepage-cozumel-img {
        display: flex;
    }
    div.homepage-cozumel-img picture {
        flex: 1 1 100%;
    }
    div.homepage-cozumel-img picture img {
        box-shadow: 0 0 20px $charcoal;
    }
}//END OF COZUMEL INFO

//HOMEPAGE RENTAL TYPES
section.homepage-rental-info div.homepage-rental-type { 
    div.homepage-rental-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-gap: 1em;
    padding: 1.5em;
    }
    div.homepage-rental-cards img {
        box-shadow: 0 0 20px $charcoal;
    }
    div.homepage-rental-cards:nth-child(even) img {
        grid-column: 1 / 2;
    }
    div.homepage-rental-cards:nth-child(even) div.homepage-rental-copy {
        grid-column: 2 / 3;
        grid-row: 1;
    }
    div.homepage-rental-cards p {
        margin: 1em;
    }      
}

//WEATHER SECTION
div.five-day-forecast {
    display: block;
    div.five-day-container {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        max-width: 650px;
        align-items: center;
    }
    div.five-day-container div.five-day-card {
        flex: 1 1 auto;
        margin: .25em .25em;
    }
}
/*---------------RENTAL INFORMATION PAGE-----------*/
//RENTAL INFO PRICING TABLE
section.rental-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section.rental-cards div.rentalType-card:hover {
    box-shadow: 0 0 30px $charcoal;
    margin: 0;
    font-size: 1.05em;
}

/*--------------CONTACT PAGE---------------*/
//Contact Info Boxes
section.contact-locations {
    div.scoots-locations {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "a a"
        "b c";
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
    }
    div.scoots-locations h2 {
        grid-area: a;
        text-align: center;
    }
    div.scoots-locations div.location-copy {
        grid-area: b;
        font-size: 1.25em;
        margin-left: 2em;
        margin-bottom: 2em;
    }
    div.scoots-locations iframe {
        grid-area: c;
    }
}

/*-----------THANK YOU PAGE---------------*/
section.more-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    h3 {
        grid-column: 1 / 3;
    }
    figure:hover {
        box-shadow: 0 0 20px $charcoal;
    }
}
/*-----------TOURS PAGE-------------------*/
section.tours-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    picture {
        grid-column: 1 / 3;
        grid-row: 1 / 6;
    }
    div.tours-intro-copy {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        opacity: .9;
        margin: 1em;
    }
}//End of tours intro
section.tours-things-to-do {
    div.things-to-do-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    div.things-to-do-cards h3 {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            text-align: center;
    }
    div.things-to-do-cards img {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    div.things-to-do-cards p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    div.things-to-do-cards:nth-child(even) img {
        grid-column: 2 / 3;
        grid-row: 2 / 3
    }
    div.things-to-do-cards:nth-child(even) p {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}