/*--------NAVIGATION---------------*/
body {background-color: $yellow;}

nav {
    background-color: $oceanBlue;
    font-family: $roboto;
    button {
        background-color: transparent;
        border: none;
        margin: .2em 2%;
        font-size: 1.5em;
        color: #fff;
        width: 96%;
        text-align: left;
    } //end nav button
    button:hover {cursor: pointer;}
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    } //end nav ul
    ul.hide {display: none;}
    ul li a {
        text-decoration: none;
        display: block;
        padding: .8em 2%;
        color: $white;
    } //end nav ul li a
    ul li a:hover {background-color: $aqua; color: $oceanBlue;}


} //end of nav