/*------COLORS-------*/
$yellow: #FEF3C3;
$red: #FE4C20;
$darkred: #F43201;
$oceanBlue: #187B8B;
$charcoal: #425561;
$aqua: #D7FEFB;
$green: #95F764;
$white: #fff;


/*-------FONTS-----------*/
$roboto: 'Roboto', Arial, sans-serif;
$headline: 'Architects Daughter', 'Roboto', Arial, sans-serif;
$seaweed: 'Seaweed Script', 'Architects Daughter', 'Roboto', Arial, sans-serif;
