@media only screen and (min-width: 900px) {
    /*----------HEADER------------*/
    
    /*header img {
        max-width: 200px;
        height: 200px;
    }*/

    /*--------------NAV--------------*/
    
    nav button {
        display: none;
    }
    nav ul.hide {
        display: flex;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
        text-align: center;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid #CCE6F4;
    }
/*---------------Homepage Introduction-------------------*/
main section.homepage-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-gap: 1em;
}

main section.homepage-intro h1 {
    grid-column: 1 / 3;
}

main section.homepage-intro picture {
    grid-column: 2 / 3;
}

main section.homepage-intro p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

    
}