@media only screen and (min-width: 550px) {
   /*------------HEADER---------------*/
    header img {
        max-width: 100px;
        height: 100px;
        margin: 0;
    }

    header div h1 {
        font-size: 2em;
    }

    header div h4 {
        font-size: 1em;
    }
   /*-----------------TOWN INFO--------------*/
   
   main section.town-info div.cards section {
       display: grid;
       grid-template-columns: 1fr 1fr;
       justify-content: center;
       justify-items: center;
       align-items: center;
       align-content: center;
       grid-gap: 1em;
   }

   main section.town-info div.cards section:nth-child(odd) img {
       grid-column: 1 / 2;
   }

   main section.town-info div.cards section:nth-child(odd) .card-copy {
       grid-column: 2 / 3;
       grid-row: 1;
   }

   main section.town-info div.cards section p {
       margin: 1em;
   }

}