body {
    font-family: "Quicksand", Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Righteous", Verdana, sans-serif;
}

/*---------------HEADER-------------------------------*/

header {
    font-family: "Righteous", Verdana, sans-serif;
    background-color: #CCE6F4;
    color: #175676;
    display: flex;
    align-content: center;
    justify-content: center;
}

header img {
    width: 100%;
    max-width: 75px;
    height: 75px;
    margin: 20px 0;
}
.headings {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

header div h1 {
    margin-bottom: 0;
    font-size: 1.75em;
}

header div h4 {
    margin-top: 0;
    font-size: .9em;
}
/*----------------NAV-------------------*/

    nav {
      background-color: #175676;
      font-family: "Righteous", Verdana, sans-serif;
      
      border-bottom: 3px solid #C83E4D;
  }
  
  nav button {
      background-color: transparent;
      border: none;
      margin: .2em 2%;
      font-size: 1.5em;
      color: #fff;
      width: 96%;
      text-align: left;
  }

  nav button:hover {
      cursor: pointer;
  }

  nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }

  nav ul.hide {
      display: none;
  }

  nav ul li a {
      text-decoration: none;
      display: block;
      padding: .8em 2%;
      border-top: 1px solid #CCE6F4;
      color: #fff;
  }

  nav ul li a:hover {
      background-color: #4BA3C3;
  }

  nav ul li a.active {
      color: yellow;
  }

  /*----------------MAIN------------------*/
  
  main {
      max-width: 1000px;
      margin: 0 auto;
      padding: 0 2%;
  }

  main section.homepage-intro {
      background-color: #CCE6F4;
      padding: 1.25em;
      margin: .75em;
      border: 2px solid #C83E4D;
  }

  main section.homepage-intro h2 {
    color: #175676;
    text-align: center;
}

.homepage-intro li {
    margin: 1em;
}

  main section.homepage-intro picture {
      display: block;
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
  }

  main section.homepage-intro img {
      width: 100%;
      box-shadow: 0 0 25px #757575;
  }
/*--------------TOWN INFORMATION------------------*/
main section.town-info {
    background-color: #175676;
    padding: 1.25em;
    margin: .75em;
}

main section.town-info h2 {
    color: #CCE6F4;
    text-align: center;
}

main section.town-info div.cards section {
    background-color:#CCE6F4;
    text-align: center;
    max-width: 100%;
    margin: 1em 0;
    padding: .75em;
}

main section.town-info div.cards section h2 {
    color: #C83E4D;
    margin-bottom: 0;
    padding-top: 10px;
}

main section.town-info div.cards section h5 {
    color: #175676;
    margin:0 0 .5em 0;
}

main section.town-info div.cards section p {
    margin: .5em;
}

main section.town-info div.cards section img {
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 25px #7e7e7e;
}
/*---------------Weather Updates Section----------*/
.weather-updates {
    margin: .75em;
    padding: 1.25em;
    border: 2px solid #C83E4D;
    background-color: #CCE6F4;
}

.weather-updates h2 {
    color: #175676;
    text-align: center;
}

.weather-updates p a {
    color: #C83E4D;
}

.weather-updates p a:hover {
    color: darkorange;
}

.weather-updates div.weather-updates-img picture {
    margin: 1em;
}

.weather-updates div.weather-updates-img picture img {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: auto;
    box-shadow: 0 0 20px #111;
}


/*-------------Contact Box----------------*/

.contact-info {
    background-color: #CCE6F4;
    margin: 1.5em 0 0 0;
    padding: 10px 0 20px 0;
}

.contact-info h2 {
    margin-bottom: 0;
    color: #175676;
    text-align: center;
}

.contact-content {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.social-icons img {
    width: 100%;
    max-width: 25px;
    padding-right: 1em;
}

.contact-info iframe {
    display: block;
    margin: 1.5em auto 0 auto;
    box-shadow: 0 0 15px #111;
    width: 90%;
    max-width: 400px;
    height: 300px;
}

.content-box {
      border: 1px dashed black;
      background-color: lightgray;
      margin: 10px;
      padding: 20px;
  }


/*--------------FOOTER---------------------*/

 footer {
      background-color: #175676;
      color: #fff;
      text-align: center;
      max-width: 1000px;
      margin: 0 auto;
  }

 
 footer p {
    margin-top: 0; 
    margin-bottom: 5px;
 }

 footer p:first-child {
     padding-top: 15px;
 }

 footer p:last-child {
     padding-bottom: 15px;
     font-size: .8em;
 }

 footer p a {
     color: yellow;
 }

 footer p a:hover {
     color: hotpink;
 }
  