@media only screen and (min-width: 550px) {
   /*---------HEADER---------*/
    header img {
        max-width: 100px;
        height: 100px;
        margin: 0;
    }

    header div h1 {
        font-size: 2em;
    }

    header div h4 {
        font-size: 1em;
    }
/*-----------Town Page Content------------*/
    .weather-summary {
        padding: .9em;
    }

    .five-day-forecast {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        max-width: 650px;
        margin: 0 auto;
    }

    .five-day {
        text-align: center;
        flex: 1 1 auto;
        border: 2px solid #175676;
        margin: .25em;    
    }

    .five-day h4 {
        flex: 1 1 100%;
        background-color: #4BA3C3;
        color: rgb(255, 255, 255);
        margin: 0;
        padding: 1em 1.35em;
        font-family: "Quicksand", Verdana, sans-serif;
        border-bottom: 2px solid #175676;
    }

    .five-day img {
        margin: .5em;
    }

    .five-day p {
        color: #175676;
    }
/*-----------------UPCOMING EVENTS--------*/
section.upcoming-events {
    
}
 /*-----------------TOWN INFO--------------*/
   
 main section.town-info div.cards section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-gap: 1em;
}

main section.town-info div.cards section:nth-child(odd) img {
    grid-column: 1 / 2;
}

main section.town-info div.cards section:nth-child(odd) .card-copy {
    grid-column: 2 / 3;
    grid-row: 1;
}

main section.town-info div.cards section p {
    margin: 1em;
}
/*-------------Recent Weather Updates------------------*/
.weather-updates div.weather-updates-img {
 display: flex;
 flex-wrap:nowrap;
 justify-content: center;
 align-content: center;
}

.weather-updates div.weather-updates-img picture {
 flex: 1 1 100%;
}

/*--------FORM--------------*/
form label.sbs {
    padding: .4em 0;
}
/*-----------THANK YOU PAGE------------*/   
main.thank-you-main div.thank-you-copy h1, main div.thank-you-copy h3 {
    padding: 0 .75em;
    text-align: center;
}

main.thank-you-main div.thank-you-copy h1 {
    margin-bottom: 10px;
    font-size: 2em;
}

main.thank-you-main div.thank-you-copy h3 {
  margin-bottom: 10px;
  font-size: 1.20em;
}

/*----------WEATHER GALLERY-----------*/
main.weather-gallery-main section {
    grid-template-columns: 1fr 1fr;
}

}