@media only screen and (min-width: 550px) {
   /*---------HEADER---------*/
    header img {
        max-width: 100px;
        height: 100px;
        margin: 0;
    }

    header div h1 {
        font-size: 2em;
    }

    header div h4 {
        font-size: 1em;
    }
/*-----------Town Page Content------------*/
    .weather-summary {
        padding: .9em;
    }

    .five-day-forecast {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        max-width: 650px;
        margin: 0 auto;
    }

    .five-day {
        text-align: center;
        flex: 1 1 auto;
        border: 2px solid #175676;
        margin: .25em;    
    }

    .five-day h4 {
        flex: 1 1 100%;
        background-color: #4BA3C3;
        color: rgb(255, 255, 255);
        margin: 0;
        padding: 1em 1.35em;
        font-family: "Quicksand", Verdana, sans-serif;
        border-bottom: 2px solid #175676;
    }

    .five-day img {
        margin: .5em;
    }

    .five-day p {
        color: #175676;
    }
}